{% extends 'base.html.twig' %}

{% block title %}Créer une sortie !{% endblock %}

{% block body %}
    <h2>Créer une sortie !</h2>

    {{ form_start(eventForm) }}
    {{ form_row(eventForm.name) }}
    {{ form_row(eventForm.infos) }}
    {{ form_row(eventForm.startDate) }}
    {{ form_row(eventForm.duration) }}
    {{ form_row(eventForm.registrationLimitDate) }}
    {{ form_row(eventForm.maxRegistrations) }}
    <div>
        {{ form_label(eventForm.location) }}
        <button type="button" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#locationModal">+</button>
    </div>
    {{ form_widget(eventForm.location) }}
    {{ form_errors(eventForm.location) }}

    <div class="mt-3">{{ form_row(eventForm.publishNow) }}</div>
    <button class="btn btn-primary mt-3">Créer !</button>

    {{ form_end(eventForm) }}


    {# fenêtre modale, cachée par défaut, sera affichée au clic sur le + #}
    <div class="modal fade" id="locationModal" tabindex="-1" role="dialog" aria-labelledby="locationModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="locationModalLabel">Ajouter un nouveau lieu de sortie</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {{ form_start(locationForm, {'attr' : {'id': 'location_form'}}) }}
                    {{ form_widget(locationForm) }}
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">GO</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                </div>
                {{ form_end(locationForm) }}
            </div>
        </div>
    </div>



{% endblock %}

{% block js %}
    <script>

        /**
         * Ce code gère la soumission du formulaire de la modale en ajax
         */

        //quand on tente de soumettre le formulaire de création de lieu (modale)...
        $("#location_form").on("submit", function(e){
            //j'empêche la soumission normale (pour que la page ne se recharge pas)
            e.preventDefault();
            //j'envoie les données au serveur en ajax
            $.ajax({
                //ne marche que parce que je ne suis pas dans un fichier js externe
                //url à laquelle je fais ma requête
                "url": "{{ path('location_create') }}",
                //je prend toutes les données du formulaire et je les balance avec ma requête
                "data": $("#location_form").serialize(),
                //en POST
                "method": "post"
            })
            //sera appelée lorsque la requête est terminée
            //je reçois la nouvelle "Location" en response, avec son id
            .done(function(response){
                //je crée une nouvelle balise <option>, ayant pour value l'id du lieu
                var option = $("<option>").attr("value", response.location.id);
                //j'injecte le nom du lieu en contenu de la balise
                option.html(response.location.name);
                //je lui met la propriété selected afin qu'elle soit préselectionnée dans le select
                option.prop('selected', true);
                //j'ajoute dans le select (au début de la liste)
                $("#event_location").prepend(option);
                //je ferme la modale
                $('#locationModal').modal('hide');
            });
        });
    </script>

    <script>

        /**
         * Ce code gère le remplissage de la liste des villes en fonction du code postal tapé
         */

        //quand on tente de soumettre le formulaire de création de lieu (modale)...
        $("#location_zip").on("keyup", function(e){
            //récupère la valeur tapée
            let zip = $("#location_zip").val();

            if (zip.length < 5){
                return;
            }

            //j'envoie les données au serveur en ajax
            $.ajax({
                //ne marche que parce que je ne suis pas dans un fichier js externe
                //url à laquelle je fais ma requête
                "url": "{{ path('location_find_cities_by_zip') }}",
                //j'envoie le code postal tapé
                "data": {
                    'zip': zip
                },
                //en GET
                "method": "get"
            })
                //sera appelée lorsque la requête est terminée
                //je reçois une liste de ville en response, déjà formattée en html
                .done(function(response){
                   console.log(response);
                   $("#location_city").html(response);
                });
        });
    </script>
{% endblock %}