{% extends 'base.html.twig' %}

{% block body %}

    <h2>{{ event.name }}</h2>

    <div class="row">
        <div class="col-sm-8">
            <h3>Le {{ event.startDate|date("d-m-Y à H:i") }}, à {{ event.location.city.name }}</h3>


            {% if event.state.name == 'canceled' %}
                <div class="alert alert-danger text-center">Cette sortie a été annulée ({{ event.cancelation.reason }})</div>
            {% elseif event.state.name == 'created' %}
                <div class="alert alert-warning text-center">Cette sortie n'est pas publiée (et donc invisible)</div>
            {% elseif event.state.name == 'archived' %}
                <div class="alert alert-warning text-center">Cette sortie est méga vieille</div>
            {% elseif event.state.name == 'ongoing' %}
                <div class="alert alert-warning text-center">Cette sortie est en cours !</div>
            {% elseif event.state.name == 'closed' %}
                <div class="alert alert-warning text-center">Trop tard, les inscriptions sont fermées !</div>
            {% elseif event.state.name == 'open' %}
                <div class="alert alert-success text-center">Les inscriptions sont ouvertes !</div>
            {% endif %}

            <div>{{ event.infos|nl2br }}</div>
        </div>
        <div class="col-sm-4">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Votre inscription</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{ event.isSubscribed(app.user) ? "Vous êtes inscrit !" : "Vous n'êtes pas inscrit !" }}</h6>



                    {% if event.state.name == 'open' %}
                    <a class="btn btn-{{ event.isSubscribed(app.user) ? "danger" : "success" }}" href="{{ path('subscription_toggle', {'id': event.id}) }}">{{ event.isSubscribed(app.user) ? "Me désinscrire" : "M'inscrire" }}</a>
                    {% elseif event.state.name == 'closed' and event.isSubscribed(app.user) %}
                    <a class="btn btn-danger" href="{{ path('subscription_toggle', {'id': event.id}) }}">Me désinscrire</a>
                    {% endif %}

                    <div>Date limite : {{ event.registrationLimitDate|date("d-m-Y à H:i") }}</div>

                </div>
            </div>


            <div class="card mt-4" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">À propos de la sortie</h5>


                    {% if event.author == app.user %}
                        {% if event.state.name == 'created' %}
                            <a class="btn btn-success" href="{{ path('event_publish', {'id': event.id}) }}">Publier</a>
                            <a class="btn btn-warning" href="#">Modifier</a>
                        {% endif %}
                        {% if event.state.name == 'open' or event.state.name == 'closed' %}
                            <a class="btn btn-danger" href="{{ path('event_cancel', {'id': event.id}) }}">Annuler</a>
                        {% endif %}
                    {% endif %}

                    <p>
                    Organisée par
                    {% if not event.author.isDeleted and event.author.isActive %}
                        <a href="{{ path('user_profile', {id: event.author.id}) }}" title="Voir son profil">{{ event.author.firstname ~ " " ~ event.author.lastname|first }}.</a>
                    {% else %}
                        un utilisateur supprimé ou banni
                    {% endif %}
                    du campus de {{ event.author.school.name }}<br>
                    Sortie créée le {{ event.creationDate|date("d-m-Y") }}
                    </p>

                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <h4 class="lead mt-3">La sortie a lieu à {{ event.location.city.name }} ({{ event.location.zip }})</h4>
            {% if event.location.longitude %}
                <div id="map" class="mt-3"></div>
                <script>
                    mapboxgl.accessToken = 'pk.eyJ1IjoiZ3N5bHZlc3RyZSIsImEiOiJjazN3MHYzemUwcjRpM2xwaXVidGNwOTluIn0.oNngcvTobTdNcBgg3tcPtg';
                    var map = new mapboxgl.Map({
                        container: 'map', // container id
                        style: 'mapbox://styles/gsylvestre/ck6lxcmxf0fv61irviqd3z0cd', // stylesheet location
                        center: [{{ event.location.longitude }}, {{ event.location.latitude }}], // starting position [lng, lat]
                        zoom: 10 // starting zoom
                    });

                    // create the popup
                    var popup = new mapboxgl.Popup({ offset: 25 }).setHTML(
                        "<h5>{{ event.location.name }}</h5>{{ event.location.street }} {{ event.location.city }} "
                    );

                    var marker = new mapboxgl.Marker();
                    marker.setPopup(popup);
                    marker.setLngLat([{{ event.location.longitude }}, {{ event.location.latitude }}]);
                    marker.addTo(map);
                </script>
            {% endif %}
        </div>
        <div class="col-md-4">
            <h4 class="lead mt-3">Inscrits à la sortie</h4>


            <div>Inscription maximum :
                {% if event.maxRegistrations %}
                    {{ event.maxRegistrations - event.subscriptions|length }} / {{ event.maxRegistrations }}
                {% else %}
                    &#8734;
                {% endif %}
            </div>

            <div>Nombre d'inscrits : {{ event.subscriptions|length }}</div>

            <ul>
                {% for sub in event.subscriptions %}
                    <li><a href="{{ path('user_profile', {id: sub.user.id}) }}">{{ sub.user.firstname }} {{ sub.user.lastname }}</a> ({{ sub.createdDate|date('d-m-Y') }})</li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}

{% block title %}{{ event.name }}{% endblock %}

