{% extends 'base.html.twig' %}

{% block title %}Les sorties{% endblock %}

{% block body %}
    <h2>Les sorties</h2>

    <div class="container ml-0 mr-0 pl-0 pr-0">
            {{ form_start(searchForm, {'attr': {'class': 'row'}}) }}
            <div class="col col-sm">
                {{ form_row(searchForm.school_site) }}
                {{ form_row(searchForm.keyword) }}
            </div>
            <div class="col col-sm">
                {{ form_row(searchForm.subscribed_to) }}
                {{ form_row(searchForm.not_subscribed_to) }}
            </div>
            <div class="col col-sm">
                {{ form_row(searchForm.submit) }}
            </div>
            {{ form_end(searchForm) }}
    </div>

    {% if events %}
        <table class="table table-striped">
            <tr>
                <th>ID</th>
                <th>Intitulé</th>
                <th>Statut</th>
                <th>Inscrits</th>
                <th>Places restantes</th>
                <th>Date de début</th>
                <th>Organisé par</th>
                <th>École</th>
                <th>Action</th>
            </tr>
        {% for event in events %}
            <tr>
                <td>{{ event.id }}</td>
                <td>{{ event.name }}</td>
                <td>{{ event.state.name }}</td>
                <td>{{ event.subscriptions|length }}</td>
                {% if event.maxRegistrations %}
                    <td>{{ event.maxRegistrations - event.subscriptions|length }} / {{ event.maxRegistrations }}</td>
                {% else %}
                    <td>&#8734;</td>
                {% endif %}
                <td>{{ event.startDate|date("d-m-Y à H:i") }}</td>
                <td>{{ event.author.firstname ~ " " ~ event.author.lastname|first }}.</td>
                <td>{{ event.author.school.name }}</td>
                <td>

                        <a href="{{ path('subscription_toggle', {'id': event.id}) }}">{{ event.isSubscribed(app.user) ? "Me désinscrire" : "M'inscrire" }}</a>

                </td>
            </tr>
        {% endfor %}
        </table>
    {% else %}
        <div>Aucune sortie !</div>
    {% endif %}
{% endblock %}
