{% extends 'base.html.twig' %}

{% block title %}Les sorties{% endblock %}

{% block body %}
    <h2>Les sorties</h2>

    <div class="container ml-0 mr-0 pl-0 pr-0">
            {{ form_start(searchForm, {'attr': {'class': 'row'}}) }}
            <div class="col col-sm">
                {{ form_row(searchForm.school_site) }}
                {{ form_row(searchForm.keyword) }}
            </div>
            <div class="col col-sm d-flex flex-column justify-content-end">
                {{ form_row(searchForm.subscribed_to) }}
                {{ form_row(searchForm.not_subscribed_to) }}
            </div>
            <div class="col col-sm d-flex flex-column justify-content-end">
                {{ form_row(searchForm.submit) }}
            </div>
            {{ form_end(searchForm) }}
    </div>

    {% if events %}
        <table class="table table-striped">
            <tr>
                <th>Intitulé</th>
                <th>Statut</th>
                <th class="d-none d-lg-table-cell">Inscrits</th>
                <th class="d-none d-md-table-cell">Places restantes</th>
                <th class="d-none d-md-table-cell">Date de début</th>
                <th class="d-none d-lg-table-cell">Organisé par</th>
                <th class="d-none d-lg-table-cell">École</th>
                <th>Action</th>
            </tr>
        {% for event in events %}
            <tr>
                <td><a href="{{ path('event_detail', {'id': event.id}) }}">#{{ event.id }} {{ event.name }}</a></td>
                <td>{{ event.state.name }}</td>
                <td class="d-none d-lg-table-cell">{{ event.subscriptions|length }}</td>
                {% if event.maxRegistrations %}
                    <td class="d-none d-md-table-cell">{{ event.maxRegistrations - event.subscriptions|length }} / {{ event.maxRegistrations }}</td>
                {% else %}
                    <td class="d-none d-md-table-cell">&#8734;</td>
                {% endif %}
                <td class="d-none d-md-table-cell">{{ event.startDate|date("d-m-Y à H:i") }}</td>
                <td class="d-none d-lg-table-cell"><a href="{{ path('user_profile', {id: event.author.id}) }}" title="Voir son profil">{{ event.author.firstname ~ " " ~ event.author.lastname|first }}.</a></td>
                <td class="d-none d-lg-table-cell">{{ event.author.school.name }}</td>
                <td>
                    {% if event.state.name == 'open' %}
                        <a href="{{ path('subscription_toggle', {'id': event.id}) }}">{{ event.isSubscribed(app.user) ? "Me désinscrire" : "M'inscrire" }}</a>
                    {% elseif event.state.name == 'created' and event.author == app.user %}
                        <a href="{{ path('event_publish', {'id': event.id}) }}">Publier</a>
                        <a href="#">Modifier</a>
                    {% endif %}
                    {% if event.author == app.user %}
                        <a href="{{ path('event_cancel', {'id': event.id}) }}">Annuler</a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </table>
    {% else %}
        <div>Aucune sortie !</div>
    {% endif %}
{% endblock %}
