<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{% block title %}Sortir.com à l'ENI!{% endblock %}</title>

        <link href="https://fonts.googleapis.com/css?family=Merriweather&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ asset('css/app.css') }}">
    </head>
    <body>

        <header>
            <div class="container">
                <nav class="main-nav">
                    <a href="{{ path('home') }}"><h1>Sortir.com</h1></a>
                    <a href="#">Les sorties</a>
                    <a href="#">Créer une sortie</a>
                </nav>
                <nav class="user-nav">
                    {# if the user is connected #}
                    {% if app.user %}
                        <a href="#">{{ app.user.firstname }} {{ app.user.lastname }}</a>
                        <a href="{{ path('security_logout') }}">Déconnexion</a>
                    {% else %}
                        <a href="{{ path('security_login') }}">Connexion</a>
                        {# @TODO: show only to admin #}
                        <a href="{{ path('admin_user_create') }}">Créer un compte</a>
                    {% endif %}
                </nav>
            </div>
        </header>
        <main>
            <div class="container">
                {% block body %}{% endblock %}
            </div>
        </main>
        <footer>
            <div class="container">
                &copy;{{ "now"|date("Y") }} ENI
            </div>
        </footer>
    </body>
</html>
