<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{% block title %}Sortir.com à l'ENI!{% endblock %}</title>

        {# jquery  #}
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

        {# mapbox pour les cartes  #}
        <script src="https://api.mapbox.com/mapbox-gl-js/v1.7.0/mapbox-gl.js"></script>
        <link href="https://api.mapbox.com/mapbox-gl-js/v1.7.0/mapbox-gl.css" rel="stylesheet" />

        {# bootstrap css et js #}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js" integrity="sha384-LtrjvnR4Twt/qOuYxE721u19sVFLVSA4hf/rRt6PrZTmiPltdZcI7q7PXQBYTKyf" crossorigin="anonymous"></script>

        {# datepicker  #}
        <script src="{{ asset('bootstrap-datepicker/js/bootstrap-datepicker.min.js') }}"></script>
        <link rel="stylesheet" href="{{ asset('bootstrap-datepicker/css/bootstrap-datepicker.standalone.min.css') }}">
        <script src="{{ asset('bootstrap-datepicker/locales/bootstrap-datepicker.fr.min.js') }}" charset="UTF-8"></script>

        {# theme bootstrap  #}
        <link rel="stylesheet" href="{{ asset('css/theme.min.css') }}">

        {# mon css  #}
        <link rel="stylesheet" href="{{ asset('css/app.css') }}">

        {# favicon  #}
        <link rel="icon" href="{{ asset('img/favicon.png') }}">
    </head>
    <body>

        <header class="bg-primary text-white">
            <div class="container-fluid">
                <nav class="main-nav">
                    <a class="home-main-link" href="{{ path('home') }}"><img src="{{ asset('img/favicon.png') }}"><h1>Sortir.com</h1></a>
                    <a href="{{ path('event_list') }}">Les sorties</a>
                    <a href="{{ path('event_create') }}">Créer une sortie</a>
                </nav>
                <nav class="user-nav">
                    {# if the user is connected #}
                    {% if app.user %}
                        {% if is_granted("ROLE_ADMIN") %}
                            <a href="{{ path('admin_dashboard') }}">Back-office</a>
                        {% endif %}

                        <a href="{{ path('user_edit') }}">{{ app.user.firstname }} {{ app.user.lastname }}</a>
                        <a href="{{ path('security_logout') }}">Déconnexion</a>
                    {% else %}
                        <a href="{{ path('security_login') }}">Connexion</a>
                        {# @TODO: show only to admin #}
                        <a href="{{ path('admin_user_create') }}">Créer un compte</a>
                    {% endif %}
                </nav>
            </div>
        </header>

        <main>
            <div class="container-fluid">
                {# read and display all flash messages #}
                {% for label, messages in app.flashes %}
                    {% for message in messages %}
                        <div class="alert alert-{{ label }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endfor %}

                {% block body %}{% endblock %}
            </div>
        </main>
        <footer id="super-footer" class="bg-primary text-white mt-5">
            <div class="container-fluid">
                &copy;{{ "now"|date("Y") }} ENI <img class="footer-logo" src="{{ asset('img/favicon.png') }}">
            </div>
        </footer>


        <script>
            $('.datepicker').datepicker({
                language: 'fr'
            });
        </script>
        {% block js %}{% endblock %}
    </body>
</html>
