{% extends 'base.html.twig' %}

{% block title %}Modifier mon profil{% endblock %}

{% block body %}
    <h2>Modifier mon profil</h2>

    <div class="row">
        <div class="col-sm-4">
            <div id="profile_pic">
                {% if app.user.picture %}
                    <img src="{{ asset('uploads/profiles/'~app.user.picture) }}" alt="{{ app.user.firstname }} {{ app.user.lastname }}">
                {% else %}
                    <img src="{{ asset('img/profile-default.jpg') }}" alt="Photo par défaut">
                {% endif %}
            </div>
            <a href="{{ path('user_upload') }}">Changer ma photo</a><br>
            <a href="{{ path('user_edit_password') }}">Modifier mon mot de passe</a>

        </div>
        <div class="col-sm-8">
            {{ form(registrationForm) }}
        </div>
    </div>
{% endblock %}
